@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Hunt The Wumpus</h1>
<ul>
    <li>Site under construction</li>
    <li> <a href="http://aka.ms/htwscore">aka.ms/htwscore</a> redirects here</li>
</ul>
