@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Hunt The Wumpus</h1>
<p><a href="http://aka.ms/htwscore">aka.ms/htwscore</a> redirects here</p>
<img src="~/images/under-construction.svg" height="200" width="200"/>

